In [293]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census_tst import Census
import gmaps

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2019)

# Configure gmaps
gmaps.configure(api_key=gkey)
gkey

'AIzaSyDADo8FEhKsi4o7fKYJgIhqlG-ULj4EooE'

In [294]:
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]
#census_pd.rename(columns={"Name":"State"},inplace=True)
census_pd.head()

query url:  https://api.census.gov/data/2019/acs/acs5?get=NAME%2CB19013_001E%2CB01003_001E%2CB01002_001E%2CB19301_001E%2CB17001_002E%2CB23025_005E&for=state%3A%2A&key=72ee297ba53cb1fe7b5bb2746dfc43c58900936e
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/NAME.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B19013_001E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B01003_001E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B01002_001E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B19301_001E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B17001_002E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/B23025_005E.json
field_type:  https://api.census.gov/data/2019/acs/acs5/variables/state.json

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,"4,876,250.00",39.00,"50,536.00","27,928.00","795,989.00",16.32,2.71
1,Alaska,"737,068.00",34.30,"77,640.00","36,787.00","76,933.00",10.44,3.64
2,Arizona,"7,050,299.00",37.70,"58,945.00","30,694.00","1,043,764.00",14.80,2.78
3,Arkansas,"2,999,370.00",38.10,"47,597.00","26,577.00","496,260.00",16.55,2.35
4,California,"39,283,497.00",36.50,"75,235.00","36,955.00","5,149,742.00",13.11,3.05

In [296]:
# Read in the csv containing state centroid coordinates
centroids = pd.read_csv("../Resources/state_centroids.csv")
centroids.head()

        State  Latitude  Longitude
0     Alabama     32.78     -86.83
1      Alaska     64.07    -152.28
2     Arizona     34.27    -111.66
3    Arkansas     34.89     -92.44
4  California     37.18    -119.47

In [297]:
# Merge the datasets using the sate columns
census_data = pd.merge(census_pd, centroids, how="left", left_on="Name", right_on="State")

# Save the updated dataframe as a csv
census_data.to_csv("../Resources/state_census_data.csv", encoding="utf-8", index=False)
census_data.head()

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,State,Latitude,Longitude
0,Alabama,"4,876,250.00",39.00,"50,536.00","27,928.00","795,989.00",16.32,2.71,Alabama,32.78,-86.83
1,Alaska,"737,068.00",34.30,"77,640.00","36,787.00","76,933.00",10.44,3.64,Alaska,64.07,-152.28
2,Arizona,"7,050,299.00",37.70,"58,945.00","30,694.00","1,043,764.00",14.80,2.78,Arizona,34.27,-111.66
3,Arkansas,"2,999,370.00",38.10,"47,597.00","26,577.00","496,260.00",16.55,2.35,Arkansas,34.89,-92.44
4,California,"39,283,497.00",36.50,"75,235.00","36,955.00","5,149,742.00",13.11,3.05,California,37.18,-119.47

In [298]:
######## Census State Demographics   #########
from census import Census

In [299]:
census_data=census_data[["State","Latitude","Longitude","Population","Median Age","Per Capita Income","Poverty Rate","Unemployment Rate"]]
census_data.head()

,State,Latitude,Longitude,Population,Median Age,Per Capita Income,Poverty Rate,Unemployment Rate
0,Alabama,32.78,-86.83,"4,876,250.00",39.00,"27,928.00",16.32,2.71
1,Alaska,64.07,-152.28,"737,068.00",34.30,"36,787.00",10.44,3.64
2,Arizona,34.27,-111.66,"7,050,299.00",37.70,"30,694.00",14.80,2.78
3,Arkansas,34.89,-92.44,"2,999,370.00",38.10,"26,577.00",16.55,2.35
4,California,37.18,-119.47,"39,283,497.00",36.50,"36,955.00",13.11,3.05

In [300]:
poverty_rate=census_data["Poverty Rate"].tolist()

In [301]:
marker_locations = census_data[['Latitude', 'Longitude']]

# gmap 
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [302]:
gmaps.configure(api_key=gkey)

In [303]:
locations = census_data[["Latitude", "Longitude"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
census_data= census_data.dropna()
poverty_rates = census_data["Poverty Rate"].astype(float)

In [304]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [305]:
###### Census Zip Code Demographics ######

In [306]:
from config import (api_key, gkey)
c = Census(api_key, year=2019)

In [307]:
# Run Census Search to retrieve data on all zip codes 

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,"17,113.00",41.90,"14,361.00","7,493.00","10,552.00",61.66
1,00602,"37,751.00",42.90,"16,807.00","9,694.00","18,653.00",49.41
2,00603,"47,081.00",42.10,"16,049.00","11,259.00","23,691.00",50.32
3,00606,"6,392.00",44.30,"12,119.00","6,093.00","4,185.00",65.47
4,00610,"26,686.00",42.70,"19,898.00","10,572.00","12,204.00",45.73

In [308]:
census_pd["Zipcode"].nunique()

33120

In [309]:
#### Merging Zips Lat Lng ###

In [310]:
zipscsv = pd.read_csv(
    "us-zip-code-latitude-and-longitude.csv", dtype="object",delimiter=";")

# Visualize
zipscsv.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,55795,Willow River,MN,46.317812,-92.84315,-6,1,"46.317812,-92.84315"
1,45388,Yorkshire,OH,40.328535,-84.47938,-5,1,"40.328535,-84.47938"
2,39483,Foxworth,MS,31.218509,-89.90761,-6,1,"31.218509,-89.90761"
3,31503,Waycross,GA,31.205194,-82.37534,-5,1,"31.205194,-82.37534"
4,45833,Delphos,OH,40.841409,-84.34178,-5,1,"40.841409,-84.34178"

In [311]:
zipscsv.count()

Zip                           43191
City                          43191
State                         43191
Latitude                      43191
Longitude                     43191
Timezone                      43191
Daylight savings time flag    43191
geopoint                      43191
dtype: int64

In [312]:
zips_df=zipscsv[["Zip","Latitude","Longitude"]]
zips_df=zips_df.rename(columns={"Zip":"Zipcode"})
zips_df.head()

  Zipcode   Latitude  Longitude
0   55795  46.317812  -92.84315
1   45388  40.328535  -84.47938
2   39483  31.218509  -89.90761
3   31503  31.205194  -82.37534
4   45833  40.841409  -84.34178

In [313]:
zipmerge_df=zips_df.merge(census_pd,how="inner",on=["Zipcode"])
zipmerge_df.head()

,Zipcode,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,55795,46.317812,-92.84315,"1,753.00",40.80,"50,063.00","21,922.00",191.00,10.90
1,45388,40.328535,-84.47938,946.00,32.20,"96,940.00","36,923.00",7.00,0.74
2,39483,31.218509,-89.90761,"6,122.00",41.40,"29,726.00","24,034.00","1,696.00",27.70
3,31503,31.205194,-82.37534,"20,344.00",41.80,"40,981.00","21,426.00","4,748.00",23.34
4,45833,40.841409,-84.34178,"10,667.00",42.50,"61,545.00","29,317.00",745.00,6.98

In [314]:
zipmerge_df.count()

Zipcode              32903
Latitude             32903
Longitude            32903
Population           32903
Median Age           32903
Household Income     32903
Per Capita Income    32598
Poverty Count        32903
Poverty Rate         32561
dtype: int64

In [315]:
gmaps.configure(api_key=gkey)
locations = zipmerge_df[["Latitude", "Longitude"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
zipmerge_df= zipmerge_df.dropna()
poverty_rates = zipmerge_df["Poverty Rate"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, #weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [316]:
zipmerge_df.head()
#zipmerge_df["Household Income"] = pd.to_numeric(zipmerge_df["Household Income"])
zipmerge_df.head()

,Zipcode,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,55795,46.317812,-92.84315,"1,753.00",40.80,"50,063.00","21,922.00",191.00,10.90
1,45388,40.328535,-84.47938,946.00,32.20,"96,940.00","36,923.00",7.00,0.74
2,39483,31.218509,-89.90761,"6,122.00",41.40,"29,726.00","24,034.00","1,696.00",27.70
3,31503,31.205194,-82.37534,"20,344.00",41.80,"40,981.00","21,426.00","4,748.00",23.34
4,45833,40.841409,-84.34178,"10,667.00",42.50,"61,545.00","29,317.00",745.00,6.98

In [317]:
 len(zipmerge_df)

32256

In [318]:
bins=[0,35000,95000,400000]
groups=["Low(<35,000)","Middle(<95,000)","High(<400,000)"]
zipmerge_df["Income Levels"]=pd.cut(zipmerge_df["Household Income"],bins,labels=groups,include_lowest=True)
zipmerge_df.head()

,Zipcode,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Income Levels
0,55795,46.317812,-92.84315,"1,753.00",40.80,"50,063.00","21,922.00",191.00,10.90,"Middle(<95,000)"
1,45388,40.328535,-84.47938,946.00,32.20,"96,940.00","36,923.00",7.00,0.74,"High(<400,000)"
2,39483,31.218509,-89.90761,"6,122.00",41.40,"29,726.00","24,034.00","1,696.00",27.70,"Low(<35,000)"
3,31503,31.205194,-82.37534,"20,344.00",41.80,"40,981.00","21,426.00","4,748.00",23.34,"Middle(<95,000)"
4,45833,40.841409,-84.34178,"10,667.00",42.50,"61,545.00","29,317.00",745.00,6.98,"Middle(<95,000)"

In [319]:
 len(zipmerge_df)

32256

In [320]:
zipmerge_df.dtypes

Zipcode                object
Latitude               object
Longitude              object
Population            float64
Median Age            float64
Household Income      float64
Per Capita Income     float64
Poverty Count         float64
Poverty Rate          float64
Income Levels        category
dtype: object

In [321]:
#groupby zip code, count, join to original df , join on zipcode, join on agg counts on dfs,(Left/Rightmerge)

In [322]:
incomes2_df=zipmerge_df.groupby("Income Levels").agg({"Population":"sum","Median Age":["mean"],"Household Income":"mean","Per Capita Income":"mean","Poverty Count":"sum"})
incomes2_df

,Population,Median Age,Household Income,Per Capita Income,Poverty Count
,sum,mean,mean,mean,sum
Income Levels,,,,,
"Low(<35,000)","19,769,831.00",42.06,"28,211.41","18,216.92","6,695,240.00"
"Middle(<95,000)","254,530,987.00",42.67,"58,077.54","29,802.37","34,369,362.00"
"High(<400,000)","48,846,796.00",43.09,"122,018.96","58,391.15","2,440,646.00"

In [323]:
lowpov=incomes2_df.iloc[0,4]/incomes2_df.iloc[0,0]
lowpov

0.33865944529318437

In [324]:
medpov=incomes2_df.iloc[1,4]/incomes2_df.iloc[1,0]
medpov

0.1350301682521665

In [325]:
highpov=incomes2_df.iloc[2,4]/incomes2_df.iloc[2,0]
highpov

0.049965324235391

In [326]:
PovertyRates=[lowpov,medpov,highpov]   
incomes2_df["Poverty Rate"]=PovertyRates
incomes2_df

,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
,sum,mean,mean,mean,sum,
Income Levels,,,,,,
"Low(<35,000)","19,769,831.00",42.06,"28,211.41","18,216.92","6,695,240.00",0.34
"Middle(<95,000)","254,530,987.00",42.67,"58,077.54","29,802.37","34,369,362.00",0.14
"High(<400,000)","48,846,796.00",43.09,"122,018.96","58,391.15","2,440,646.00",0.05

In [327]:
#groupby zip code, count, join to original df , join on zipcode, join on agg counts on dfs,(Left/Rightmerge)

In [328]:
# Study data files
fastfood_path = "cleaned_fastfood_data.csv"

fastfood_data = pd.read_csv(fastfood_path)

fastfood_data.head()

,index,name,categories,address,city,postalCode,state,country,latitude,longitude,count
0,0,Carl's Jr.,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",2555 11th Avenue,Greeley,80631,CO,US,40.40,-104.70,205
1,1,Del Taco,"Restaurant,Mexican Restaurants,Fast Food Resta...",2513 Highway 6 And 50,Grand Junction,81505,CO,US,39.08,-108.59,30
2,3,Chipotle Mexican Grill,"Fast Food Restaurants,Mexican Restaurants,Rest...",3455 N Salida Court,Aurora,80011,CO,US,39.76,-104.78,142
3,4,Taco Bell,"Fast Food Restaurants,Mexican Restaurants,Rest...",5225 E Colfax Avenue,Denver,80220,CO,US,39.74,-104.93,529
4,5,McDonald's,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",1350 W Colfax Avenue,Denver,80204,CO,US,39.74,-105.00,784

In [329]:
#NEW
fastfood_path = "../Resources/Datafiniti_Fast_Food_Restaurants_May19.csv"

# Read the mouse data and the study results
fastfood_data1 = pd.read_csv(fastfood_path)
fastfood_data1=fastfood_data1[["postalCode","name"]]
fastfood_data1.head()

  postalCode                    name
0      80631              Carl's Jr.
1      81505                Del Taco
2      81506              Which Wich
3      80011  Chipotle Mexican Grill
4      80220               Taco Bell

In [330]:
len(fastfood_data1)

10000

In [331]:
#New
fastfood_data1=fastfood_data1.rename(columns={"postalCode":"Zipcode"})
fastfood_data1.head()

  Zipcode                    name
0   80631              Carl's Jr.
1   81505                Del Taco
2   81506              Which Wich
3   80011  Chipotle Mexican Grill
4   80220               Taco Bell

In [332]:
len(fastfood_data1)

10000

In [333]:
fastfood_data1.dtypes

Zipcode    object
name       object
dtype: object

In [334]:
#New
# fastfood_data1["Zipcode"] = [x[:5] for x in fastfood_data1["Zipcode"]]
# fastfood_data1["Zipcode"] = pd.to_numeric(fastfood_data1["Zipcode"] , downcast="float")


# zip_group = fastfood_data1.groupby(["Zipcode"]).aggregate("count")
# zip_group.head()

In [335]:
# len(zip_group)

In [336]:
# zip_group["id"].head()

In [337]:
# zip_count_df=zip_group["id"]
# zip_count_df.head()

In [338]:
#fastfood_data1["Zipcode"] = pd.to_numeric(fastfood_data1["Zipcode"] , downcast="float")

In [339]:
zipzmerged_df=zipmerge_df.merge(fastfood_data1,on=["Zipcode"])
zipzmerged_df.head()

,Zipcode,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Income Levels,name
0,36201,33.658803,-85.85178,"17,482.00",42.50,"27,533.00","17,849.00","4,993.00",28.56,"Low(<35,000)",Church's Chicken
1,11757,40.690049,-73.37442,"44,368.00",41.70,"96,369.00","37,707.00","2,747.00",6.19,"High(<400,000)",Taco Bell
2,11757,40.690049,-73.37442,"44,368.00",41.70,"96,369.00","37,707.00","2,747.00",6.19,"High(<400,000)",Taco Bell
3,35565,34.225425,-87.6118,"12,645.00",45.20,"32,121.00","21,779.00","2,076.00",16.42,"Low(<35,000)",Jack's
4,91605,34.208142,-118.4011,"53,113.00",34.80,"50,623.00","22,668.00","9,891.00",18.62,"Middle(<95,000)",Burger King

In [340]:
len(zipzmerged_df)

9791

In [341]:
len(zipzmerged_df["Zipcode"])

9791

In [342]:
zipzmerged_df=zipzmerged_df.rename(columns={"Zipcode":"Fast Foods"})
zipzmerged_df['Fast Foods'].value_counts(ascending=True)

21144     1
41503     1
99208     1
54476     1
33071     1
         ..
29418    13
46032    13
46410    14
35601    15
37040    17
Name: Fast Foods, Length: 5132, dtype: int64

In [343]:
incomes3_df=zipzmerged_df.groupby("Income Levels").agg({"Population":"sum","Median Age":["mean"],"Household Income":"mean","Per Capita Income":"mean","Poverty Count":"sum","Fast Foods":"count"})
incomes3_df
#PovertyRates=[lowpov,medpov,highpov]   
#incomes3_df["Poverty Rate"]=PovertyRates
incomes3_df

,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Fast Foods
,sum,mean,mean,mean,sum,count
Income Levels,,,,,,
"Low(<35,000)","11,869,209.00",35.12,"29,739.79","18,701.10","3,704,548.00",545
"Middle(<95,000)","253,856,135.00",38.77,"58,207.11","30,846.87","35,241,021.00",8464
"High(<400,000)","28,499,720.00",39.74,"114,372.61","54,723.03","1,474,672.00",765

In [344]:
incomes3_df.insert(5,"PovertyRate",PovertyRates)
pd.options.display.float_format = '{:,.2f}'.format
incomes3_df

,Population,Median Age,Household Income,Per Capita Income,Poverty Count,PovertyRate,Fast Foods
,sum,mean,mean,mean,sum,,count
Income Levels,,,,,,,
"Low(<35,000)","11,869,209.00",35.12,"29,739.79","18,701.10","3,704,548.00",0.34,545
"Middle(<95,000)","253,856,135.00",38.77,"58,207.11","30,846.87","35,241,021.00",0.14,8464
"High(<400,000)","28,499,720.00",39.74,"114,372.61","54,723.03","1,474,672.00",0.05,765